<section class="header-top">
    <div class="container">
        <div class="my_row">
              <div class="logo"><a href="home"><img src="/assets/img/logo.png"></a></div>
              <nav class="top_left_menu">
                  <ul>
                      <li><a href="chats">Chats</a></li>
                      <li><a href="visitors">Visitors</a></li>
                      <li><a href="archives">Archives</a></li>
                      <li><a href="tickets">Tickets</a></li>
                      <li><a href="agents">Agents</a></li>
                      <li><a href="reports">Reports</a></li>
                      <li><a href="apps">Apps</a></li>
                  </ul>
              </nav>
              <div class="top_right_menu">
                  <div class="sada_menu">
                      <a href="subscription">Subscribe now</a>
                  </div>
                  <div class="tool_menu tooltp">
                      <a href="javascript:void(0);"><i class="fa fa-life-ring" aria-hidden="true"></i></a>
                      <span>Knowledge Base</span>
                  </div>
                  <div class="tool_menu tooltp">
                      <a href="javascript:void(0);"><i class="fa fa-bell" aria-hidden="true"></i></a>
                      <span>Alert</span>
                  </div>
                  <div class="tool_menu tooltp">
                      <a href="javascript:void(0);"><i class="fa fa-search" aria-hidden="true"></i></a>
                      <span>Search</span>
                  </div>
                  <div class="tool_menu tooltp">
                      <a href="javascript:void(0);"><i class="fa fa-sliders" aria-hidden="true"></i></a>
                      <span>Settings</span>
                  </div>
                  <div class="tool_menu_user">
                      <a href="javascript:void(0);"><span class="ONLINE_icon"></span><img src="/assets/img/user.jpg"></a>
                      <div class="toolmenuuser_dropdown">
                          <ul>
                              <li>Logged in as zaini</li>
                          </ul>
                          <ul>
                              <li><a href="#"><span class="tmu_icon c_green"><i class="fa fa-check" aria-hidden="true"></i></span> Accept chats</a></li>
                              <li><a href="#"><span class="tmu_icon c_red"><i class="fa fa-times" aria-hidden="true"></i></span> Don’t accept chats</a></li>
                          </ul>
                          <ul>
                              <li><a href="#">My profile</a></li>
                              <li><a href="#">Company details</a></li>
                              <li><a href="#">Notifications</a></li>
                          </ul>
                          <ul>
                              <li><a href="#">Chat tutorial</a></li>
                              <li><a href="testing">Help</a></li>
                              <li><a href="#">Log out</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
  </section>
  