<section class="user_online_status_dash">
    <div class="container">
        <div class="row">
            <div class="user_item_list">
                <ul class="user_item_list_ul">
                    <li class="user_item_online">
                        <div class="user_item_close">
                            <i class="fa fa-window-close-o" aria-hidden="true"></i>
                          </div>
                        <div class="user_item_img">
                            <img src="/assets/img/1.jpg">
                          </div>
                          <div class="user_item_name">Jane - sample visitor</div>
                      </li>
                      <li class="user_item_online">
                        <div class="user_item_close">
                            <i class="fa fa-window-close-o" aria-hidden="true"></i>
                          </div>
                        <div class="user_item_img">
                            <img src="/assets/img/1.jpg">
                          </div>
                          <div class="user_item_name">Jane - sample visitor</div>
                      </li>
                      <li class="user_item_offline">
                        <div class="user_item_close">
                            <i class="fa fa-window-close-o" aria-hidden="true"></i>
                          </div>
                        <div class="user_item_img">
                            <img src="/assets/img/1.jpg">
                          </div>
                          <div class="user_item_name">Jane - sample visitor</div>
                      </li>
                      <li class="user_item_offline user_close_chat">
                        <div class="user_item_close">
                            <i class="fa fa-window-close-o" aria-hidden="true"></i>
                          </div>
                        <div class="user_item_img">
                            <div class="user_close_chatbox">
                                <span class="closChat">Close Chat</span>
                                  <span>or</span>
                                  <span class="cancelChat">Cancel</span>
                              </div>
                          </div>
                          <div class="user_item_name">Jane - sample visitor</div>
                      </li>
                      <li class="user_item_empty">
                        <div class="user_item_close">
                            <i class="fa fa-window-close-o" aria-hidden="true"></i>
                          </div>
                        <div class="user_item_img">
                            <img src="/assets/img/user.jpg">
                          </div>
                          <div class="user_item_name">Jane - sample visitor</div>
                      </li>
                      <li class="user_item_empty">
                        <div class="user_item_close">
                            <i class="fa fa-window-close-o" aria-hidden="true"></i>
                          </div>
                        <div class="user_item_img">
                            <img src="/assets/img/user.jpg">
                          </div>
                          <div class="user_item_name">Jane - sample visitor</div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
  <section class="Chat_dash_contier">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <div class="Vchat_modul">
                    <div class="Vchat_modul_h">
                        <h2>Chat with Jane - sample visitor</h2>
                          <div class="Vc_h_cta">
                            <a href="#">More</a>
                          </div>
                      </div>
                      <div class="Vchat_modul_bdy">
                        <div class="Vchat_set Mymsg">
                            <div class="Vchat_name">
                                <div class="Vchat_name_text ">zaini</div>
                                <div class="Vchat_time">12:10</div>
                              </div>
                              <div class="VchatText">
                                <p>Hello. How may I help you?</p>
                              </div>
                          </div>
                          <div class="Vchat_set Ymsg">
                            <div class="Vchat_name">
                                <div class="Vchat_name_text">Jane - sample visitor</div>
                                <div class="Vchat_time">12:10</div>
                              </div>
                              <div class="VchatText">
                                <p>I’m Jane, your sample visitor. Let me show you how chats work in LiveChat. Type something in and press enter to send your first chat message. </p>
                              </div>
                          </div>
                          <div class="Vchat_set Mymsg">
                            <div class="Vchat_name">
                                <div class="Vchat_name_text">zaini</div>
                                <div class="Vchat_time">12:10</div>
                              </div>
                              <div class="VchatText">
                                <p>Hello. How may I help you?</p>
                              </div>
                          </div>
                          <div class="Vchat_set Ymsg">
                            <div class="Vchat_name">
                                <div class="Vchat_name_text">Jane - sample visitor</div>
                                <div class="Vchat_time">12:10</div>
                              </div>
                              <div class="VchatText">
                                <p>I’m Jane, your sample visitor. Let me show you how chats work in LiveChat. Type something in and press enter to send your first chat message. </p>
                              </div>
                          </div>
                          <div class="Vchat_set Mymsg">
                            <div class="Vchat_name">
                                <div class="Vchat_name_text">zaini</div>
                                <div class="Vchat_time">12:10</div>
                              </div>
                              <div class="VchatText">
                                <p>Hello. How may I help you?</p>
                              </div>
                          </div>
                          <div class="Vchat_set Ymsg">
                            <div class="Vchat_name">
                                <div class="Vchat_name_text">Jane - sample visitor</div>
                                <div class="Vchat_time">12:10</div>
                              </div>
                              <div class="VchatText">
                                <p>I’m Jane, your sample visitor. Let me show you how chats work in LiveChat. Type something in and press enter to send your first chat message. </p>
                              </div>
                          </div>
                      </div>
                      <div class="Vchat_modul_f">
                        <textarea></textarea>
                      </div>
                  </div>
              </div>
  
              <div class="col-xs-12 col-md-5">
                <div class="chat_visiter_info">
                    <h2>Jane - sample visitor</h2>
                      <ul>
                        <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>LiveChat HQ</li>
                          <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>8:51 am local time</li>
                          <li><span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>support@livechatinc.com</li>
                          <li><span><i class="fa fa-undo" aria-hidden="true"></i></span>Returning visitor (2 visits, 3 chats, last seen today)</li>
                      </ul>
                      <p (mouseenter)="clickkro()"><span class="iconCVI"><img src="/assets/img/deskcom-64.png"></span>Ticket - Tracking my order</p>
                      <p><span class="iconCVI"><img src="/assets/img/highrise-64.png"></span>Name:Jane - sample visitor<br>Email:support@livechatinc.com<br>Phone:+1 (617) 275-2400 </p>
                      <p><span class="pull-left"> Sample Page | Preview your chat window</span><span class="pull-right">29m 18s</span></p>
                      <p><i class="fa fa-location-arrow" aria-hidden="true"></i> IP: 194.181.146.40</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  